@font-face {
    font-family: "DMSerif";
    src: url("fonts/DMSerif.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	background: url("images/bg.jpg");
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.file-upload {
	width: 100%;
	height: 100%;
	margin: 0; /* Remove centering to allow full area usage */
	font-family: "DMSerif";
	display: flex; /* Align contents within */
	flex-direction: column;
	justify-content: center; /* Center content vertically */
	align-items: center; /* Center content horizontally */
	box-sizing: border-box; /* Ensure padding fits within the bounds */
}
  
.dropzone {
	width: 100%;
	height: 100%;
	border: 2px dashed #ccc;
	border-radius: 8px;
	padding: 2rem;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease;
	display: flex; /* Flexbox for centering */
	flex-direction: column;
	justify-content: center; /* Center content vertically */
	align-items: center; /* Center content horizontally */
	box-sizing: border-box; /* Prevent padding from increasing dimensions */
}
  
.dropzone:hover,
.dropzone.active {
	border-color: #2c3e50;
	background-color: #2c3e501a;
}

.dropzone img{
	transition: all 0.2s ease-in-out;
}

.dropzone:hover img{
	transform: translateY(-5px) scale(1.05);
}

.dropzone p{
	transition: all 0.2s ease-in-out;
}

.dropzone:hover p{
	transform: translateY(-5px);
}
  
.icon img {
	width: 48px;
	height: 48px;
	margin-bottom: 1rem;
	color: #2c3e50;
}
  
.dropzone p {
	margin: 0;
	font-size: 1rem;
	color: #666;
}
  
.file-info {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	background-color: #f8f9fa;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 100%; /* Ensure it fills the dropzone width */
	box-sizing: border-box;
}
  
.file-details {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
}
  
.file-icon {
	width: 20px;
	height: 20px;
	color: #2c3e50;
}
  
.file-name {
	font-size: 0.875rem;
	color: #333;
	word-wrap: break-word; /* Prevent long file names from overflowing */
}
  
.remove-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	color:rgb(133, 14, 26);
	font-family: "DMSerif";
	transition: color 0.2s ease;
}
  
.remove-button:hover {
	color: #c82333;
	animation: shake 0.5s ease-in-out;
}

@keyframes shake {
	0% {
	  transform: translateX(0); /* Start at original position */
	}
	25% {
	  transform: translateX(-5px); /* Move slightly left */
	}
	50% {
	  transform: translateX(5px); /* Move slightly right */
	}
	75% {
	  transform: translateX(-5px); /* Move slightly left */
	}
	100% {
	  transform: translateX(0); /* Return to original position */
	}
}
  
.remove-button img {
	width: 16px;
	height: 16px;
}

.generate-container {
	margin-top: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 1.3rem 2.8rem;
	font-family: "DMSerif";
	font-weight: 500;
	background-color: white;
	color: #2c3e50;
	border-radius: 0.25rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
	text-decoration: none;
	z-index: 1;
}

.hover-bg {
	position: absolute;
	width: 12rem;
	height: 12rem;
	background-color: #2c3e50;
	border-radius: 50%;
	transform: translate(-100%, 47%) rotate(-40deg);
	transition: transform 0.2s ease-out, margin 0.2s ease-out;
}

.hover-bg.translated{
	transform: translate(-70%, 47%) rotate(-40deg);
}
  
.button:hover .hover-bg {
	transform: rotate(40deg) scale(5);
}

.button:hover .text {
	color: white;
}

.button:hover {
	transform: scale(1.05);
}

.disabled .hover-bg {
	transform: translate(-100%, 47%) rotate(-40deg) !important;
}

.disabled:hover .text {
	color: #2c3e50;
}
  
.disabled:hover {
	transform: none !important;
}

.text {
	font-size: large;
	position: relative;
	z-index: 2;
	transition: color 0.2s ease-in-out;
}

.a4-container {
	position: relative;
	height: 100%; /* Full height of the parent container */
	background-color: white; /* Fallback color */
	background-size: cover; /* Ensure the background covers the container */
	aspect-ratio: 210 / 297; /* A4 aspect ratio */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Sharp shadow effect */
	margin: auto; /* Center within the parent container */
	border-radius: 2px; /* Optional, slight corner sharpness */
	transition: all 0.2s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.a4-container:hover{
	transform: scale(1.02);
}

.tsv-container {
	padding: 10px;
	max-height: 97%;
	overflow-y: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

.info-box {
	position: absolute;
	bottom: 15px;
	right: 15px;
	padding: 5px;
	border-radius: 4px;
	font-size: 12px;
	background-color: #f8f9fa;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	opacity: 0.95;
	box-sizing: border-box;
	z-index: 1000;
}

.scroll_enabled::-webkit-scrollbar {
    width: 10px; /* Adjust scrollbar width */
    height: 10px; /* Adjust scrollbar height */
}

.scroll_enabled::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0); /* Transparent corners */
}

.scroll_enabled::-webkit-scrollbar-thumb {
    background-color: #888; /* Dark grey for the handle */
    border-radius: 5px; /* Rounded corners for a modern look */
    border: 2px solid rgba(0, 0, 0, 0); /* Padding effect around the thumb */
    background-clip: content-box; /* Ensures proper padding appearance */
    min-width: 32px; /* Minimum size for the thumb */
    min-height: 32px; /* Minimum size for the thumb */
}

.scroll_enabled::-webkit-scrollbar-thumb:hover {
    background-color: #2c3e50; /* Darker grey on hover */
}

.scroll_enabled::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Light grey background for the track */
    border-radius: 5px; /* Rounded track corners */
	margin: 8px 8px;
}

.scroll_enabled::-webkit-scrollbar-track:hover {
    background-color: #2c3e501a; /* Slightly darker track on hover */
}
  
/* Sidebar styles */
.sidebar {
	position: fixed;
	display:flex;
	flex-direction: column;
	top: 0;
	left: -30vw; /* Hide off-screen initially */
	width: 24vw;
	height: 100vh;
	box-sizing: border-box;
	color: #fff;
	background-color: #2c3e50;
	padding-top: 60px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	z-index: 2000;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	transition: left 0.3s ease; /* Smooth sliding */
}
  
.sidebar.open {
	left: 0; /* Slide in */
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
	z-index: 1999; /* Ensure it's just below the sidebar */
	opacity: 0;
	pointer-events: none; /* Initially non-interactive */
	transition: opacity 0.3s ease;
}
  
.overlay.show {
	opacity: 1;
	pointer-events: auto; /* Enable clicks to close the sidebar */
}


.loader {
	width: 10px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 8px solid;
	border-color: #2c3e50 #0000;
	animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

.parameters {
	display: flex;
	font-size: 18px;
	justify-content: space-between; /* Ensure space is distributed evenly */
	width: 100%; /* Prevent shrinking or growing */
	margin: 0; /* Reduce vertical spacing between items */
	padding: 0; /* Ensure no extra padding is added */
}

.parameters p{
	width: 15vw;
}

.parameters .switch{
	flex-shrink: 0; /* Prevent shrinking in flex containers */
	flex-grow: 0; /* Prevent growing in flex containers */
}

.parameters input[type=number] {
	margin-top: 16px;
	margin-right: 5px;
	width: 3em;
	padding: 0.3em;
	border: .2em solid #fff;
	box-shadow: 0 0 8px #ffffff4d;
	border-radius: 1em;
	text-align: center;
	color: #2c3e50;
	font-family: "DMSerif";
	font-weight: bold;
}

.parameters input[type=number]::-webkit-outer-spin-button,
.parameters input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.switch {
	font-size: 17px;
	position: relative;
	margin-top: 18px;
	display: inline-block;
	width: 70px; /* Set a fixed width */
	height: 30px; /* Set a fixed height */
	box-sizing: border-box;
	transform: scale(0.9);
}
  
  /* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
  
.slider {
	position: absolute;
	cursor: pointer;
	inset: 0;
	margin-left: 5px;
	border: 2px solid #cfcece;
	border-radius: 50px;
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
  .slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 3px;
	background-color: #fff;
	border-radius: inherit;
	transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
.switch input:checked + .slider {
	box-shadow: 0 0 20px #fff;
	border: 2px solid #fff;
}
  
.switch input:checked + .slider:before {
	transform: translateX(35px);
}

textarea {
	flex: 1; /* Allow textarea to grow and take remaining space */
	width: 100%; /* Full width of the parent container */
	padding: 0.5em;
	border: 0.2em solid #fff;
	box-shadow: 0 0 5px #ffffff41;
	border-radius: 1em;
	resize: none; /* Disable manual resizing */
	box-sizing: border-box; /* Include padding and border in calculations */
	font-family: inherit; /* Match parent font */
	font-size: medium; /* Adjust font size */
	font-weight: 600;
	background-color: #fff;
	overflow-y: auto; /* Enable scrolling for overflow content */
}
  
textarea:focus {
	outline: none;
	border-color: #414141;
	box-shadow: 0 0 5px #2c3e50;
}

.toast-container {
    position: fixed;
    bottom: -50px; /* Start hidden below the screen */
    left: 10px;
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px #2c3e5033;
    font-size: 14px;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 5000;
  }

  .toast-show {
    transform: translateY(-60px); /* Slide up into view */
    opacity: 1; /* Make visible */
  }